
body {
    background-image: url("../images/Sports.png");    
}

.jumbotron {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Start for main body */
.content {
    padding: 10px;
    margin: 0 0 20px 0;
    border: 2px solid #998f8f;
    border-radius: 20px;
    text-align: center;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    background-color: darkslategray;
    color: #998f8f;
}


h3 {
    font-weight: bold;
    font-size: 32px;
    color: red;
    text-shadow: whitesmoke;
}

#test {
    font-size: 18px;
    color: white;
}

h5 {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: #998f8f;
}



/* Button Styles */
.btn {
    width: 400px;
    box-shadow: 3px 3px 3px #998f8f;

}

.btn:hover {
    color: darkgreen;
    font-weight: bold;
    transform: scale(1.01)
}